
body {
  position: relative;
  margin:  auto; 
  color: #001028;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 14px; 
  padding-top: 50px;
  padding-bottom: 5%;
  margin:5%;
 

 
}

/*

    width: 800px;
    background: black;
    position: relative;
    width: 21cm;
    margin: auto;
    color: #001028;
    background: #f7f7f9;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 5%;
    padding: 5%;
     padding-top: 5%; */
    /* padding-bottom: 50px; */

 
.padding {
  padding: 5px 0;
}
 
h1 {
  color: #5D6975;
  font-size: 1.3em;
  line-height: 1.4em;
  font-weight: normal;
  text-align:center;
}